URxvt.font: xft:Roboto\ Mono\ Medium\ for\ Powerline:style=Medium:size=11,xft:Material\ Icons:style=Regular
URxvt.scrollBar: false

! special
URxvt.depth: 32 
URxvt.foreground:   #d0d0d0
URxvt.background:   [85]#000000
URxvt.cursorColor:  #d0d0d0

! black
URxvt.color0:       #000000
URxvt.color8:       #808080

! red
URxvt.color1:       #ff0000
URxvt.color9:       #ff0000

! green
URxvt.color2:       #33ff00
URxvt.color10:      #33ff00

! yellow
URxvt.color3:       #ff0099
URxvt.color11:      #ff0099

! blue
URxvt.color4:       #0066ff
URxvt.color12:      #0066ff

! magenta
URxvt.color5:       #cc00ff
URxvt.color13:      #cc00ff

! cyan
URxvt.color6:       #00ffff
URxvt.color14:      #00ffff

! white
URxvt.color7:       #d0d0d0
URxvt.color15:      #ffffff

URxvt.perl-ext-common: tabbed,resize-font
! resize font
URxvt.keysym.C-j: resize-font:smaller
URxvt.keysym.C-k: resize-font:bigger
! tab colors
URxvt.tabbed.tabbar-fg: 4	
URxvt.tabbed.tabbar-bg:	0 
URxvt.tabbed.tab-fg:	7 
URxvt.tabbed.tab-bg:	0 
